
// media mixins
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "87.5rem");

@mixin breakpoint-up($size){
    @media only screen and (min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

// layout mixins
@mixin flex-column(){
    display: flex;
    flex-flow: column nowrap;
}

@mixin flex-row(){
    display: flex;
    flex-flow: row nowrap;
}