/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  --font-size-header: clamp(1.75rem, 1.0000rem + 3.3333vw, 3.5rem);
  --font-size-paragraph: clamp(0.875rem, 0.7357rem + 0.6190vw, 1.2rem);
  --font-size-company-review: clamp(0.875rem, 0.8214rem + 0.2381vw, 1rem);
}

body {
  font-size: 0.9375rem;
  font-family: "Spartan", sans-serif;
  display: -ms-grid;
  display: grid;
  width: 100%;
  place-items: center;
  padding: 1.25rem;
}

.social-proof {
  max-width: 22.5rem;
  display: -ms-grid;
  display: grid;
  grid: "desc" -webkit-min-content "reviews" -webkit-min-content "buyers" -webkit-min-content / 1fr;
  grid: "desc" min-content "reviews" min-content "buyers" min-content / 1fr;
}

@media only screen and (min-width: 64em) {
  .social-proof {
    grid: "desc   reviews" -webkit-min-content "buyers buyers" -webkit-min-content / 1fr 1fr;
    grid: "desc   reviews" min-content "buyers buyers" min-content / 1fr 1fr;
    max-width: 76rem;
    gap: 5rem;
  }
}

.social-proof .description {
  grid-area: desc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 1.25rem;
  text-align: center;
}

@media only screen and (min-width: 64em) {
  .social-proof .description {
    text-align: start;
  }
}

.social-proof .description .advert__header {
  color: #502050;
  font-size: var(--font-size-header);
  margin-top: 2.5rem;
  padding: 0 1.5rem;
  line-height: 1;
}

@media only screen and (min-width: 64em) {
  .social-proof .description .advert__header {
    padding-left: 0.5rem;
  }
}

.social-proof .description .advert__content {
  color: #937b92;
  font-size: var(--font-size-paragraph);
  font-weight: 500;
  padding: 0 0.5rem;
}

.social-proof .company-reviews {
  grid-area: reviews;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: start;
  gap: 2rem;
  margin: 2.5rem 0;
}

@media only screen and (min-width: 64em) {
  .social-proof .company-reviews {
    gap: 3.5rem;
    padding-top: 2rem;
  }
}

.social-proof .company-reviews .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

@media only screen and (min-width: 64em) {
  .social-proof .company-reviews .review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-item-align: start;
        align-self: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .social-proof .company-reviews .review:nth-of-type(2) {
    padding-left: 2.5rem;
  }
  .social-proof .company-reviews .review:nth-of-type(3) {
    padding-left: 5rem;
  }
}

.social-proof .company-reviews .review__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0.3125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-proof .company-reviews .review__author {
  text-align: center;
  color: #502050;
  font-weight: 700;
  font-size: var(--font-size-paragraph);
}

.social-proof .buyers {
  grid-area: buyers;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 64em) {
  .social-proof .buyers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.social-proof .buyers .buyer-card {
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #502050;
  color: white;
  padding: 1.5625rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1.25rem;
}

@media only screen and (min-width: 64em) {
  .social-proof .buyers .buyer-card:nth-of-type(2) {
    margin-top: 1rem;
  }
  .social-proof .buyers .buyer-card:nth-of-type(3) {
    margin-top: 2rem;
  }
}

.social-proof .buyers .buyer-card__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1.25rem;
}

.social-proof .buyers .buyer-card__person .person__img {
  border-radius: 10rem;
  overflow: hidden;
  scale: 0.7;
}

.social-proof .buyers .buyer-card__person .person__info {
  padding-bottom: 0.75rem;
}

.social-proof .buyers .buyer-card__person .person__info .info__name {
  font-weight: 700;
}

.social-proof .buyers .buyer-card__person .person__info .info__title {
  color: #ee68a4;
}

.social-proof .buyers .buyer-card .buyer-card__review {
  padding: 0.75rem;
  font-size: 0.813rem;
}
/*# sourceMappingURL=style.css.map */